:root {
    --color-brand-light: #2B7FFF;
    --color-brand-dark: #011C44;
    --color-secondary-dark: #4A4A4A;
    --color-secondary-light: #747272;
    --color-white: #ffffff;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-footer: 1000px;
$bp-desktop: 1200px;