.procedures-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 416px;
    max-width: 360px;
    background: linear-gradient(180deg, rgba(1, 28, 68, 0.00) 48.53%, rgba(1, 28, 68, 0.73) 84.61%, #011C44 101.39%);
    border-radius: 120px 4px;
    overflow: hidden;

    @media screen and (min-width: $bp-tablet) {
        height: 456px;
    }

    &:hover {
        transition: 0.3s;
        background: linear-gradient(180deg, rgba(1, 28, 68, 0.00) 58.53%, rgba(1, 28, 68, 0.73) 94.61%, #011C44 111.39%);

        .procedures-card__image {
            transform: scale(1.1);

        }

        .procedures-card__text {
            padding-bottom: 36px;

        }
    }

    &__image {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.3s;

    }

    &__text {
        margin: 0 auto;
        padding-bottom: 46px;
        line-height: 1.2;
        color: var(--color-white);
        text-align: center;
        width: 156px;
        transition: padding-bottom 0.3s;

    }
}

.remove-underline {
    text-decoration: none;
}