.annotation-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 176px;

    &__content {
        max-width: 709px;
        padding-top: 30px;
    }

    &__comparison {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 40px;
        flex-shrink: 0;

        &-before {
            border-radius: 50%;
            margin-right: auto;
        }

        &-after {
            border-radius: 50%;
            margin-left: auto;
        }

    }

    &::before {
        content: '';
        position: absolute;
        transform: translate(0, -190px);
        width: 100%;
        max-width: 1440px;
        height: 168px;
        background-image: url(/images/annotation-bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        pointer-events: none;
        // border: 3px solid red;

    }
}

.annotation-container {
    display: flex;
    gap: 28px;
}