.contacts-section {
    margin-bottom: 93px;

    &__tittle {
        text-align: center;
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        height: 480px;
        gap: 32px;
    }

    &__form {
        max-width: 424px;
        background: url(../images/form-bg.svg);
        background-color: var(--color-brand-dark);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 32px;
        padding: 48px 0;
    }

}

.contact-section__mapwrapper {
    flex-shrink: 0;
    position: relative;
    width: 605px;
    height: 480px;
    border-radius: 36px;
    overflow: hidden;
}

.contact-section__map {
    position: absolute;
    width: 100%;
    height: 100%;
}